<html>
  <head>
    <title>Towards a Retina Web: Examples</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
    <script type="text/javascript" src="javascript/script.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
